<div class="codeHeader" data-bi-name="code-header">
    <span class="language"> {{ include.lang }} </span>
    <button type="button" class="action is-relative copy-code-button" aria-label="Copy code">
        <span style="font-size: .800em; margin-right: .25em; position: relative; top: -.25em; left: -.200em; pointer-events: none;">
            📄<span style="position: absolute; top: .25em; left: .25em">📄</span>
        </span>
        <span style="pointer-events: none;">Copy</span>
        <div class="successful-copy-alert is-transparent" style="pointer-events: none;" aria-hidden="true">
            &#10003;
        </div>
    </button> 
</div>
